{% extends "Base.html" %}

{% load url from future %}

{% block title %}
    Sales
{% endblock %}

{% block page-css %}
<style type="text/css">
.order-payment-picture {
    width: 95px;
    height: 88px;
}
.order-payment-picture-frame {
    margin: 5px;
    padding: 5px;
    width: 100px;
    height: 100px;
    border: 1px solid darkgray;
}
.order-info-box {
    margin-right: 10px;
    width: 150px;
    border-right: 1px solid lightgrey
}
.order-action-box {
    border-left: 1px solid lightgrey;
    padding-left: 10px;
    padding-bottom: 5px;
}
</style>
{% endblock %}

{% block page-js %}
{% endblock %}

{% block content %}

<div class="container">
    <div class="page-header">
        <h1>
            Sales
        </h1>
    </div>

    <div>
        <h4>
            Paid total: <b style="color: darkred">USD${{ paid_sales|floatformat:"-4" }}</b>
            Unpaid total: <b style="color: darkred">USD${{ unpaid_sales|floatformat:"-4"}}</b>
        </h4>
    </div>

    {% for order in orders %}

    <div class="span12 well" style="margin-left: 0;">
        <div class="span2 order-info-box">
            <p>
                Order placed: <br/>
                <b>{{ order.date_created |date:"M d, Y"}}</b><br/>
                {{ order.date_created |time:"h:i:s a"}}
            </p>
            <p>Total: <br />
            <b style="color: darkred">USD${{ order.service.service_cost|floatformat:"-4" }}</b>
            </p>

        </div>
        <div class="span2 order-payment-picture-frame">
            {% if order.service.picture %}
            <img class="order-payment-picture"
                 src="/static/media/{{ order.service.picture }}"
                 alt="{{ order.service.name }}">
            {% else %}
            <img class="order-payment-picture"
                 src="/static/imgs/network.gif"
                 alt="{{ order.service.name }}">
            {% endif %}
        </div>
        <div class="span6">
            <a href="/services#/detail/{{order.service.id}}">
                <h3>{{order.service.name}}</h3>
            </a>
            <p>Status: <b style="color: darkgoldenrod">
                {% if order.is_paid %}PAID{% else %}NOT PAID{% endif %}</b>
            </p>
            <p>Reciept Number: {{ order.number }}</p>
        </div>
        <div class="span2 order-action-box">
            <h5>Action: </h5>
            <a href="/add/comment/{{ order.service.id }}/0/" class="btn btn-success"
               style="margin-bottom: 5px">
                Comment
            </a>
            <a href="/services#/detail/{{ order.service.id }}" class="btn btn-info"
               style="margin-bottom: 5px">
                View Service
            </a>
            <a href="/edit/service/{{ order.service.id }}" class="btn btn-warning"
               style="margin: 0">
                Edit Service
            </a>
        </div>
    </div>
    {% endfor %}
    {% if count == 0 %}
        <h3>No order found...</h3>
    {% endif %}

</div>
{% endblock %}
