{% extends "Base.html" %}

{% load url from future %}

{% block page-css %}
<style type="text/css">
    .login-container
    {
        max-width: 400px;
    }

</style>
{% endblock %}

{% block page-js %}
{% endblock %}

{% block content %}
<div class="header center">
    <a href="/">
        <img src="/static/imgs/umass_150.png" alt="ChoiceNet Shopper"
             height="180" width="380" />
    </a>
</div>

<div class="container login-container center">
    <div class="page-header">
        <h1>
            Please sign up ...
        </h1>
    </div>
    {% if form.errors %}
        <div class="alert alert-error">
            Please correct the error{{ form.errors|pluralize }} below.
        </div>
    {% endif %}

    <form action="{% url "sign_up" %}?next={{ redirect_to }}" method="POST">

        <div class="well">
            <div>
                <h5> Email Address is also your unique Username.</h5>
            </div>

            {% csrf_token %}
            {{ form.as_table }}

            <div>
                <h5> All of the fields are required!</h5>
            </div>

            <div class="row-fluid">
                <div class="span12">
                    <input type="submit" value="Sign up"
                           class="btn btn-primary" />
                </div>
            </div>

        </div>
    </form>

</div>
{% endblock %}
