{% extends "Base.html" %}

{% load url from future %}

{% block page-css %}
<style type="text/css">
    .login-container
    {
        max-width: 600px;
    }

</style>
{% endblock %}

{% block page-js %}
{% endblock %}

{% block content %}

<div class="container login-container center">
    <div class="page-header">
        <h1>
            Please sign up ...
        </h1>
    </div>
    {% if form.errors %}
        <div class="alert alert-error">
            Please correct the error{{ form.errors|pluralize }} below.
        </div>
    {% endif %}

     <div class="row center hidden-from-app" style="padding-bottom: 10px">
        Already a ChoiceNet user?
        <a href="{% url "login" %}" class="learn-more">
            Login now
        </a>
    </div>

    <div class="row center hidden-from-app" style="padding-bottom: 10px">
        Or shopping as a guest?
        <a href="{% url "home" %}" class="learn-more">
            Home page
        </a>
    </div>

    <form action="{% url "sign_up" %}?next={{ redirect_to }}" method="POST">

        <div class="well" style="text-align: left">
            <div>
                <h6><i class="icon-angle-right"></i>  Email Address is also your unique Username.</h6>
                <h6><i class="icon-angle-right"></i>  All of the fields are required!</h6>
            </div>

            {% csrf_token %}
            {{ form.as_table }}

            <div class="row-fluid">
                <div class="span12">
                    <input type="submit" value="Sign up"
                           class="btn btn-primary" />
                </div>
            </div>

        </div>
    </form>

</div>
{% endblock %}
