{% extends "Base.html" %}

{% load url from future %}


{% block page-js %}
    <script src="/static/js/all/min/jquery-1.10.2.min.js"></script>
    <script src="/static/js/angular/angular.min.js"></script>
    <script src="/static/js/angular/angular-animate.min.js"></script>
    <script src="/static/js/angular/angular-resource.min.js"></script>
    <script src="/static/js/angular/angular-route.min.js"></script>
    <script type="text/javascript" src="/static/js/angular/angular-ui.js"></script>
    <script type="text/javascript" src="/static/js/angular/ui-bootstrap-tpls-0.4.0.js"></script>

    <!-- build:js /angular_apps/js/scripts.js -->
    <script src="/static/angular_apps/js/app.js"></script>
    <script src="/static/angular_apps/js/animations.js"></script>
    <script src="/static/angular_apps/js/controllers.js"></script>
    <script src="/static/angular_apps/js/filters.js"></script>
    <script src="/static/angular_apps/js/services.js"></script>
    <!-- endbuild -->
{% endblock %}

{% block content %}
<div class="container" ng-app="serviceApp">

    <div class="view-container">
        <div ng-view class="view-frame"></div>
    </div>

</div>
{% endblock %}
