{% extends "Base.html" %}
{% load url from future %}

{% block title %}
    Add Balance
{% endblock %}

{% block page-css %}
<style>
</style>
{% endblock %}

{% block page-js %}
<script type="text/javascript">
</script>
{% endblock %}

{% block content %}

<div class="container">
    <div class="page-header">
        <h1>Add Balance</h1>
    </div>
    {% if amount_valid == 0 %}
    <div class="alert alert-warning">
        The amount you entered is not valid. Please enter valid amount.
    </div>
    {% endif %}
    <div>
        <h4>Current balance: <b style="color: darkred">USD${{ balance|floatformat:"-4" }}</b></h4>
        {% if user.is_staff %}
        <h4>Provider account: <b style="color: darkred">USD${{ income|floatformat:"-4" }}</b></h4>
        {% endif %}
    </div>
    <div>
        <form action="{% url "add_balance" %}" method="POST">
            {% csrf_token %}
            <label> Enter Amount
                <input name="amount" placeholder="0.00">
            </label>
            <input class="btn btn-primary" type="submit" value="Add Balance from Paypal">
            <input type="hidden" name="csrf" value={{ csrf_token }}>
        </form>
    </div>
    {% if user.is_staff %}
    <a href="{% url "withdraw_to_balance" %}" class="btn btn-success">Withdraw all provider account money to balance</a>
    {% endif %}
</div>

{% endblock %}