{% extends "Base.html" %}
{% load url from future %}

{% block title %}
    Add Balance
{% endblock %}

{% block page-css %}
<style>
</style>
{% endblock %}

{% block page-js %}
<script type="text/javascript">
</script>
{% endblock %}

{% block content %}

<div class="container">
    <div class="page-header">
        <h1>Add Balance</h1>
    </div>
    <div>
    <form action="{% url "add_balance" %}" method="POST">
        {% csrf_token %}
        <label> Enter Amount
            <input name="amount" placeholder="0.00">
        </label>
        <input class="btn btn-primary" type="submit" value="Add Balance">
        <input type="hidden" name="csrf" value={{ csrf_token }}>
    </form>
    </div>
</div>

{% endblock %}