{% extends "Base.html" %}
{% load url from future %}

{% block title %}
    PayPal Payment
{% endblock %}

{% block page-css %}
<style>
.service-payment-picture {
    width: 95px;
    height: 88px;
}
.service-payment-picture-frame {
    margin: 5px;
    padding: 5px;
    width: 100px;
    height: 100px;
    border: 1px solid darkgray;
}
</style>
{% endblock %}

{% block page-js %}
<script type="text/javascript">
    var date_created = Date.now();
    window.onload = function(){
    document.getElementById("reload-url").
            href="/paypal/payment/service/{{ service.id }}/2/{{ csrf_token }}/"+date_created;
    }
</script>
{% endblock %}

{% block content %}

<div class="container">
    <div class="page-header">
        <h1>Check out</h1>
    </div>
    {% if payStatus == '1'%}
    <div class="alert alert-info">
        You have paid successfully
    </div>
    {% endif %}
    {% if payStatus == '0'%}
    <div class="alert alert-danger">
        You have paid <b>unsuccessfully</b>!
    </div>
    {% endif %}
    {% if payStatus == '3'%}
    <div class="alert alert-danger">
        Something went wrong, please click
        <a id="reload-url">
           here
        </a>
        to reload payment page.
    </div>
    {% else%}
    <div class="span12 well" style="margin-left: 0;">
        <div class="span2 service-payment-picture-frame">
            {% if service.picture %}
            <img class="service-payment-picture"
                 src="/static/media/{{ service.picture }}"
                 alt="{{ service.name }}">
            {% else %}
            <img class="service-payment-picture"
                 src="/static/imgs/network.gif"
                 alt="{{ service.name }}">
            {% endif %}
        </div>
        <div class="span7">
            <a href="/services#/detail/{{service.id}}">
                <h3>{{service.name}}</h3>
            </a>
        </div>
        <div class="span3 pull-right center">
            <h4 style="color: darkred;">USD${{ service.cost }}</h4>
            {{ form }}
        </div>
    </div>
    {% endif %}
    <a href="/services#/detail/{{ service.id }}">
            <i class="icon-chevron-left"></i> Return to service detail page
    </a>
</div>

{% endblock %}