<div class="container-fluid">
	<div class="row">
		<div class="span12">
			<p class="lead">User Directory</p>
			<form class="directory-controls">
				<div ng-class="{'no-margin-bottom': !extraSearch}" class="control-group">
					<label class="control-label">Name</label>
					<div class="controls">
						<div ng-show="false" class="input-append">
							<input ng-model="search.name" typeahead-wait-ms="200" typeahead="name for name in nameTypeahead($viewValue) | filter:$viewValue" type="text">
  							<button class="btn" ng-click="extraSearch = !extraSearch" type="button"><i class="icon-chevron-down"></i></button>
						</div>
						<input ng-model="search.name" typeahead-wait-ms="200" typeahead="name for name in nameTypeahead($viewValue) | filter:$viewValue" type="text">
					</div>
				</div>

				<div ng-animate="'fade'" style="border:1" ng-show="extraSearch">
					<div class="control-group">
						<label class="control-label">Username</label>
						<div class="controls">
							<input ng-model="search.username" typeahead-wait-ms="200" typeahead="username for username in getTypeahead('users', 'username', $viewValue) | filter:$viewValue" type="text">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">School</label>
						<div class="controls">
							<input ng-model="search.school" typeahead-wait-ms="200" typeahead="school for school in getTypeahead('schools', 'name', $viewValue) |  filter:$viewValue" type="text">
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">Group</label>
						<div class="controls">
							<input ng-model="search.department" typeahead-wait-ms="200" typeahead="dept for dept in getTypeahead('departments', 'name', $viewValue) |  filter:$viewValue" type="text">
						</div>
					</div>
				</div>
				<div ng-show="!extraSearch" class="control-group">
					<div class="controls">
						<a class="advanced-search" ng-click="extraSearch = !extraSearch" href=""><i class="icon-collapse"></i> Advanced search</a>
					</div>
				</div>
				<div class="control-group">
					<div class="controls">
						<button style="width:220px; height:30px;" ng-click="searchTeachers()" class="btn btn-primary"><i class="icon-search"></i> Search</button>
					</div>
				</div>
			</form>

			<pagination num-pages="totalPages" current-page="currentPage" max-size="maxSize" class="pagination-large" boundary-links="true"></pagination>
			<div ng-show="count == undefined">
				<h1 class=""><i style="width:43px; height:52px; line-height:normal;" class="icon-refresh icon-large icon-spin"></i> Loading data...</h1>
			</div>
			<div ng-show="count != undefined && !teachers.length">
				<h1>No results.</h1>
			</div>

			<div ng-repeat="teacher in teachers">
				<user-card user-object="teacher"></user-card>
			</div>

		</div>
	</div>
</div>