<div class="container-fluid" style="margin-top: 30px">
    <div class="span4 nav-scroll" style="margin-left: 0">
        <div class="service-picture-frame">
            <img class="service-picture"
                 ng-show="service.picture==null || service.picture==''"
                 ng-src="/static/imgs/network.gif"
                 alt="{{ service.name }}">
            <img class="service-picture"
                 ng-show="service.picture!=null && service.picture!=''"
                 ng-src="/static/media/{{ service.picture }}"
                 alt="{{ service.name }}">
        </div>
    </div>
    <div class="span8 pull-right nav-scroll nav-button" style="margin-right: 30px">
        <div class="span6" >
            <h2>{{service.name|truncate:40}}</h2>
        </div>
        <div class="pull-right center" style="margin-right: 20px">
            <h6 style="color: darkred; margin: 0">
                {{ service.service_cost | currency:"USD$"}}
            </h6>
            <a class="btn btn-success"
               href="/paypal/payment/service/{{ service.id }}/2/{{ csrf }}/{{ date_created }}">
                Buy Now
            </a>
        </div>
    </div>
    <div class="span8 pull-right" style="margin-top: 100px;">
        <h4><i class="icon-hand-right"></i> {{service.name}}</h4>
        <h5><i class="icon-hand-right"></i> Description:</h5>
        <p style="padding-left: 30px; padding-right: 30px">{{ service.description }}</p>
        <div >
            <h5><i class="icon-hand-right"></i> Specification: </h5>
            <ul>
                <li>Service Type: {{service.service_type}}</li>
                <li>Service ID: {{service.service_id}}</li>
                <li>Service Bandwidth: {{service.service_bandwidth | number:4}} Mbps</li>
                <li>Service Latency: {{service.service_latency | number:4}} ms</li>
                <li>Hosted Node ID: {{service.hosted_node_id }} </li>
                <li>End Point1 ID: {{service.end_point1_id }} </li>
                <li>End Point2 ID: {{service.end_point2_id }} </li>
                <li>Controller ID: {{service.controller_id }} </li>
                <li>Date Added: {{service.date_created | date:'medium'}}</li>
            </ul>
        </div>
    </div>
</div>