{% extends "Base.html" %}

{% load url from future %}

{% block title %}
    Withdraw
{% endblock %}

{% block page-css %}
<style type="text/css">
.login-container
    {
        max-width: 600px;
    }
</style>
{% endblock %}

{% block page-js %}
{% endblock %}

{% block content %}

<div class="container">
    <div class="page-header">
        <h1>
            Withdraw
        </h1>
    </div>

    <div>
        Your new balance is <b style="color: darkred">USD${{ new_balance }}</b>. <br/>
        Your new provider balance is
        <b style="color: darkred">USD${{ new_income }}</b>.
    </div>

    <a href="{% url "add_balance" %}">Return to add balance.</a>

</div>
{% endblock %}
