{% extends "Base.html" %}

{% load url from future %}

{% block title %}
    Search Service
{% endblock %}

{% block page-css %}
<style type="text/css">
div.product {
    margin: 10px;
    padding: 10px;
    border: solid lightgrey 1px;
    box-shadow: 6px 6px 3px #afafaf;
}
.search-box-title {
    margin-top: 150px;
    margin-bottom: 80px;
    font-family: Fantasy;
    font-weight: bold;
    font-size: 48px;
    font-variant: small-caps;
    color: #4682B4;
}
.search-button {
    margin: 3px 15px 3px 15px;
    color: rgb(48,48,48);
}
</style>
{% endblock %}

{% block page-js %}
<script type="text/javascript">
$(document).ready(function()
    {
        if (hash == "settings")
        {
            $("#settingsNotice").fadeIn();
        }
        if (hash == "mustlogout")
        {
            $("#logoutNotice").fadeIn();
        }
    });
</script>
{% endblock %}

{% block content %}
<div class="container center">

    <div class="alert alert-info" id="settingsNotice" style="display: none;">
        Your account has been changed successfully
    </div>
    <div class="alert alert-error" id="logoutNotice" style="display: none; margin-top: 50px; padding-bottom: 0">
        <form action="/logout/?next={{ redirect_to }}" method="POST">
            {% csrf_token %}
            Your must <b>sign out</b> first before to direct to that page.
            Are you sure to
            <input type="submit"  class="btn-link" value="Sign out"/>
        </form>
    </div>

    <div class="search-box-title">
            ChoiceNet Shopper
    </div>
    <div style="margin-left: 70px">
        <form class="span10" action="/services" id="searchField" method="POST">
            {% csrf_token %}
            <div style="margin-bottom: 20px">
                <input class="clearable span3" type="search" name="searchValue" style="margin-bottom: 0; width: 700px;"{% if searchValue %} value={{ searchValue }} {% endif %}>
            </div>
            <div>
                <button class="btn" style="padding: 0; margin: 5px"><input class="hidden" type="submit" value=""> <h6 class="search-button"> Search</h6></button>
                <a class="btn" href="/services" style="padding: 0; margin: 5px"><h6 class="search-button"> Get All Network Services</h6></a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
