{% extends "Base.html" %}

{% load url from future %}

{% block page-css %}
<style type="text/css">
div.product
{
    margin: 10px;
    padding: 10px;
    border: solid lightgrey 1px;
    box-shadow: 6px 6px 3px #afafaf;
}
</style>
{% endblock %}

{% block page-js %}
<script type="text/javascript">
$(document).ready(function()
    {
        if (hash == "settings")
        {
            $("#settingsNotice").fadeIn();
        }
        if (hash == "mustlogout")
        {
            $("#logoutNotice").fadeIn();
        }
    });
</script>
{% endblock %}

{% block content %}
<div class="container">

    <div class="alert alert-info" id="settingsNotice" style="display: none;">
        Your account has been changed successfully
    </div>
    <div class="alert alert-error" id="logoutNotice" style="display: none;">

        <form action="/logout/?next={{ redirect_to }}" method="POST">
            {% csrf_token %}
            Your must <b>sign out</b> first before to direct to that page.
            Are you sure to
            <input type="submit"  class="btn-link" value="Sign out"/>
        </form>
    </div>

    <div class="page-header">
        <h1>Products</h1>
    </div>
    <div class="tab-content">
        {% for p in products %}
        <div class="product span4 center">
            <form action="/you/cant/guess/this/url/pay/" method="POST">
                {% csrf_token %}
                <img src="/static/imgs/network.gif" alt="Product {{ p }}"/>
                <p>Product {{ p }}</p>
                <input type="submit"  class="btn btn-success" value="Buy"/>
                <input type="hidden"  name="productID" value={{ p }} />
            </form>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
