{% extends "Base.html" %}

{% load url from future %}

{% block title %}
    Welcome
{% endblock %}

{% block page-css %}
<style type="text/css">
div.product {
    margin: 10px;
    padding: 10px;
    border: solid lightgrey 1px;
    box-shadow: 6px 6px 3px #afafaf;
}
.search-box-title {
    margin-top: 150px;
    margin-bottom: 80px;
    font-family: Fantasy;
    font-weight: bold;
    font-size: 48px;
    font-variant: small-caps;
    color: #4682B4;
}
.search-button {
    margin: 3px 15px 3px 15px;
    color: rgb(48,48,48);
}
</style>
{% endblock %}

{% block content %}

<div class="container login-container center">
    <div class="search-box-title">
        Welcome to ChoiceNet Shopper
    </div>

    <div style="border-top: 1px solid lightgrey; margin-left: 400px; margin-right: 400px"></div>
    <div class="row center hidden-from-app" style="padding-bottom: 10px; padding-top: 20px">
        Already a ChoiceNet user?
        <a href="{% url "login" %}" class="learn-more">
            Login now
        </a>
    </div>

    <div class="row center hidden-from-app" style="padding-bottom: 10px">
        Or become a ChoiceNet user?
        <a href="{% url "sign_up" %}" class="learn-more">
            Sign up now
        </a>
    </div>

    <div class="row center hidden-from-app" style="padding-bottom: 10px">
        Or shopping as a guest?
        <a href="{% url "home" %}" class="learn-more">
            Home page
        </a>
    </div>

</div>
{% endblock %}
