<div style="margin-top:20px;" ng-show="form.applyingRubric()">
	<h1 style="font-size:8em; line-height:1em;"><i class="icon-refresh icon-spin"></i> Applying rubric</h1>
</div>
<div style="margin-bottom:100px;" ng-show="formId && !form.applyingRubric()">
	<div class="buttons-pull-right">
        <a class="btn disabled"><i class="icon-cog"></i> Options/Help</a>
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a ng-click="editRubric()"><i class="icon-sitemap"></i> Set Rubric</a></li>
            <li><a ng-click="editForm()"><i class="icon-edit"></i> Edit Title/Description</a></li>
            <!--li><a ng-click="changeFormType()"><i class="icon-list-alt"></i> Change Form Type</a></l-->
            <li><a ng-click="help()"><i class="icon-flag"></i> Help</a></li>
        </ul>
	</div>
	<h1><small id="form-title">{{ form.form().name }}</small></h1>
	<hr>
	<!-- standards loading sign -->
	<div style="margin-top:40px" class="loading-panel" ng-show="form.standardsLoaded() === false">
		<h1><i class="icon-refresh icon-spin"></i> Loading standards...</h1>
	</div>
	<div ng-show="form.standardsLoaded() === true">
		<h1 class="center">{{ form.standards()[form.currentStandard()].title }}</h1>
		<div ng-repeat="group in form.standardGroups()" class="buttons-centered">
			<button btn-radio="5*$parent.$index + $index" ng-model="radioStandard.val" ng-repeat="standard in group" class="btn btn-primary" ng-click="selectStandard(5*$parent.$index + $index)">
				{{ standard.short_name }}
			</button>
		</div>
		<br>
		<!-- STANDARDS BUTTON GROUP-->
		<div class="buttons-centered">
			<button ng-click="form.addStandard()" ng-class="{'disabled':form.standardLoading()}" class="btn btn-success">
				<span ng-show="form.standardLoading()">
					Creating standard...
				</span>
				<span ng-show="!form.standardLoading()">
					Add Standard <i class="icon-plus"></i>
				</span>
			</button>
			<button type="button" class="btn" ng-model="showStandardsTable" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
				<a><span style="color:black;" tooltip-placement="bottom" tooltip="Edit current standards." class="ng-scope"><i class="icon-list"></i></span></a>
			</button>
		</div>
		</br>

		<!-- END STANDARDS BUTTON GROUP -->
		<table ng-show="showStandardsTable" ng-animate="{show: 'fade-show', hide: 'fade-hide'}" class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>#</th>
					<th>Title</th>
					<th>Description</th>
					<th>Edit</th>
					<th>Delete</th>
					<th>Move</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-class="{info: $index==form.currentStandard()}" ng-repeat="standard in form.standards() | orderBy:'order'">
					<td>{{ standard.order }}</td>
					<td>{{ standard.title }}</td>
					<td>{{ standard.description }}</td>
					<td><a ng-click="editStandard($index)" class="btn" href="javascript:void(0)"><i class="icon-edit"></i></a></td>
					<td ng-init="standard.deleting = false" ng-switch on="standard.deleting" >
						<!-- deleteStandard($index) -->
						<button ng-switch-when="false" ng-click="openAlert('standard', standard.title, {type: 'indicators', count: form.indicators()[$index].length}, 'deleteStandard', [$index])" eat-click class="btn btn-danger btn-small"><i class="icon-trash"></i></button>
						<button ng-switch-when="true" eat-click class="disabled btn btn-danger btn-small">Deleting...</button>
					</td>
					<td>
						<span class="btn-group">
							<button ng-click="form.moveStandard($index, 1)" ng-class="{'disabled': $index === 0}" class="btn btn-small"><i class="icon-arrow-up"></i></button>
							<button ng-click="form.moveStandard($index, -1)" ng-class="{'disabled': $index === form.standards().length-1}" class="btn btn-small"><i class="icon-arrow-down"></i></button>
						</span>
					</td>
				</tr>
			</tbody>
		</table>
		</br>

		<!-- BEGIN INDICATORS -->
		<div ng-show="!form.indicators()[form.currentStandard()].length && form.indicatorsLoaded()[form.currentStandard()] !== false" class="well center">
			You don't have any indicators yet.
		</div>
		<!-- indicators loading sign -->
		<div ng-show="form.indicatorsLoaded()[form.currentStandard()] === false" class="loading-panel">
			<h1><i class="icon-refresh icon-spin"></i> Loading indicators...</h1>
		</div>
		<accordion ng-show="form.indicatorsLoaded()[form.currentStandard()] === true" close-others="false">
		    <accordion-group ng-repeat="indicator in form.indicators()[form.currentStandard()]">
		    	<accordion-heading>
		    		{{ indicator.title }}
		    		<span style="margin-left:20px;" class="accordion-buttons">
						<button eat-click ng-click="form.moveIndicator($index, 1)" ng-class="{'disabled': $index === 0}" class="btn btn-small"><i class="icon-arrow-up"></i></button>
						{{ $index }}
						<button eat-click ng-click="form.moveIndicator($index, -1)" ng-class="{'disabled': $index === form.indicators()[form.currentStandard()].length-1}" class="btn btn-small"><i class="icon-arrow-down"></i></button>
					</span>
		    		<span ng-init="indicator.deleting = false" ng-switch on="indicator.deleting" class="accordion-buttons">
						<button ng-click="editIndicator($index)" eat-click class="btn btn-primary btn-small">Edit</button>
						<button ng-switch-when="false" ng-click="openAlert('Indicator', indicator.title, {type: 'elements', count: form.elements()[form.currentStandard()][$index].length},'deleteIndicator', [$index])" eat-click class="btn btn-danger btn-small">Delete</button>
						<button ng-switch-when="true" eat-click class="disabled btn btn-danger btn-small">Deleting...</button>
					</span>
		    	</accordion-heading>
		    	<div ng-show="indicator.description" class="indicator-description">
		    		{{ indicator.description }}
		    	</div>
		    	
		    	<!-- elements loading sign -->
		    	<div ng-show="form.elementsLoaded()[form.currentStandard()][$parent.$index] === false" class="loading-panel">
					<h1><i class="icon-refresh icon-spin"></i> Loading elements...</h1>
				</div>
				<!-- elements -->
		    	<div ng-show="form.elementsLoaded()[form.currentStandard()][$parent.$index] === true" ng-repeat="element in form.elements()[form.currentStandard()][$index]" ng-init="hover=[];" class="element">
		    		<h4 class="center">{{ element.title }} <a style="vertical-align:top;" class="btn btn-mini" ng-model="show" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0" ng-init="show = false;"><i class="icon-info-sign"></i></a></h4>
		    		<span style="z-index:1;" class="buttons-pull-right">
						<button ng-click="form.moveElement($parent.$index, $index, 1)" ng-class="{'disabled': $index === 0}" class="btn btn-small"><i class="icon-arrow-up"></i></button>
						<button ng-click="form.moveElement($parent.$index, $index, -1)" ng-class="{'disabled': $index === form.elements()[form.currentStandard()][$parent.$index].length-1}" class="btn btn-small"><i class="icon-arrow-down"></i></button>
					</span>
					<span ng-init="element.deleting = false" ng-switch on="element.deleting" class="buttons-centered element-buttons">
						<button ng-click="editElement($index, $parent.$index)" ng-class="{'disabled':!form.descriptorsLoaded()[form.currentStandard()][$parent.$index][$index]}" class="btn btn-primary btn-small">Edit</button>
						<button ng-switch-when="false" ng-click="openAlert('element', element.title, {type: 'descriptors', count: form.descriptors()[form.currentStandard()][$parent.$parent.$index][$parent.$index].length},'deleteElement', [$parent.$index, $parent.$parent.$index])" class="btn btn-danger btn-small"> Delete</button>
						<button ng-switch-when="true" eat-click class="disabled btn btn-danger btn-small">Deleting...</button>
					</span>

					<!-- descriptors loading sign -->
			    	<div ng-show="form.descriptorsLoaded()[form.currentStandard()][$parent.$index][$index] === false" class="loading-panel">
						<h1><i class="icon-refresh icon-spin"></i> Loading descriptors...</h1>
					</div>
					<div ng-show="form.descriptorsLoaded()[form.currentStandard()][$parent.$index][$index] === true">
						<div>
							<br>
							<!--descriptor buttons-->
							<p ng-show="!form.descriptors()[form.currentStandard()][$parent.$index][$index].length" class="center">Click edit to add descriptors for this element.</p>
							<div ng-repeat="group in form.descriptorGroups()[form.currentStandard()][$parent.$index][$index]" class="buttons-centered">
								<button ng-repeat="descriptor in group" ng-mouseover="hover[$index+5*$parent.$index]='btn-primary'" ng-mouseleave="hover[$index+5*$parent.$index]=''" ng-class="hover[$index+5*$parent.$index]" class="btn disabled">
									{{ descriptor.title }}
								</button>
							</div>

						</div>
						<br>
						<!--Descriptor table for element-->
						<div ng-init="show=false;" ng-show="show" ng-animate="{show: 'fade-show', hide: 'fade-hide'}" class="descriptor-table-container">
							<table border="1" class="table table-bordered">
		            			<thead><tr>
		            				<th>#</th>
									<th>Title</th>
									<th>Description</th>
									<th>Value</th>
		            			</tr></thead>
		            			<tbody><tr ng-repeat="descriptor in form.descriptors()[form.currentStandard()][$parent.$index][$index]" ng-class="{info: hover[$index]}">
		            				<td valign="top">{{ $index+1 }}</td>
		            				<td valign="top">{{ descriptor.title }}</td>
		                			<td valign="top">{{ descriptor.description }}</td>
		                			<td valign="top">{{ descriptor.value }}</td>
		            			</tr></tbody>
		        			</table>
			    		</div>
					</div>
		    		<br>
		    	</div>
		    	<hr ng-show="form.elements()[form.currentStandard()][$index].length">
		    	<div style="margin-top:10px" class="center">
		    		<button ng-click="form.addElement($index)" ng-class="{'disabled':form.elementLoading()[$index]===true}" class="btn btn-success">
		    			<span ng-show="form.elementLoading()[$index]">
		    				Creating element...
		    			</span>
		    			<span ng-show="!form.elementLoading()[$index]">
		    				<i class="icon-plus"></i> Add Element
		    			</span>
		    		</button>
		    	</div>
		    	<br>
		    </accordion-group>
		</accordion>
		<!-- END INDICATORS -->
		<button ng-click="form.addIndicator(form.currentStandard())" ng-class="{'disabled':form.indicatorLoading()}" class="btn btn-large btn-block btn-success">
			<span ng-show="form.indicatorLoading()">
				Creating indicator...
			</span>
			<span ng-show="!form.indicatorLoading()">
				<i style="vertical-align:baseline;" class="icon-plus"></i> Add Indicator
			</span>
		</button>
	</div>

	<!-- MODALS-->
	<div>
		<ng-include src="'/static/views/form_creator/partials/standardModal.html'">
		</ng-include>
		<ng-include src="'/static/views/form_creator/partials/indicatorModal.html'">
		</ng-include>
		<ng-include src="'/static/views/form_creator/partials/elementModal.html'">
		</ng-include>
		<ng-include src="'/static/views/form_creator/partials/rubricModal.html'">
		</ng-include>
		<ng-include src="'/static/views/form_creator/partials/editFormModal.html'">
		</ng-include>
		<ng-include src="'/static/views/form_creator/partials/rubricModalPopup.html'">
		</ng-include>
		<ng-include src="'/static/views/form_creator/partials/formTypeModal.html'">
		</ng-include>
		<ng-include src="'/static/views/form_creator/partials/alert.html'">
		</ng-include>
	</div>
	<!-- END MODALS-->
</div>