<div id="help" class="row">
	<div class="span3">
		<ul class="well nav nav-list affix">
			<li>
				<a ng-click="goBack()" href="javascript:void(0)"><i class="icon-arrow-left"></i> Go Back</a>
			</li>
			<li class="nav-header"></li>
			<li><a href="" class="nav-header" scroll-to="form">Form</a></li>
			<li><a href="" scroll-to="form-title">Change Form Title/Description</a></li>
			<li><a href="" class="nav-header" scroll-to="standard">Standards</a></li>
			<li><a href="" scroll-to="add-standard">Add a Standard</a></li>
			<li><a href="" scroll-to="delete-standard">Delete a Standard</a></li>
			<li><a href="" scroll-to="edit-standard">Edit a Standard</a></li>
			<li><a href="" class="nav-header" scroll-to="indicator">Indicators</a></li>
			<li><a href="" scroll-to="add-indicator">Add an Indicator</a></li>
			<li><a href="" scroll-to="delete-indicator">Delete an Indicator</a></li>
			<li><a href="" scroll-to="edit-indicator">Edit an Indicator</a></li>
			<li><a href="" class="nav-header" scroll-to="element">Elements</a></li>
			<li><a href="" scroll-to="add-element">Add an Element</a></li>
			<li><a href="" scroll-to="delete-element">Delete an Element</a></li>
			<li><a href="" scroll-to="edit-element">Edit an Element</a></li>
			<li><a href="" scroll-to="descriptor">Manage Descriptors for an Element</a></li>
		</ul>
	</div>
	<div class="highlight span9">
		<h1 id="form"><span>Form</span></h1>
		<ul class="thumbnails">
			<li id="form-title" class="span9">
				<div class="thumbnail">
					<img src="/static/imgs/form-creator-help/form/title-desc1.png">
					<div class="caption">
						<h3>Change Form Title/Description: Part 1</h3>
						<p>Click the "Options/Help" menu button to open the dropdown menu.</p>
						<p>Then select "Edit Title/Description" from the dropdown options.</p>
					</div>
				</div>
			</li>
			<li class="span9">
				<div class="thumbnail">
					<img src="/static/imgs/form-creator-help/form/title-desc2.png">
					<div class="caption">
						<h3>Change Form Title/Description: Part 2</h3>
						<p>Enter in the new Form title and description then hit "Save".</p>
					</div>
				</div>
			</li>
		</ul>

		<h1 id="standard"><span>Standards</span></h1>
		<ul class="thumbnails">
			<li id="add-standard" class="span9">
				<div class="thumbnail">
					<img src="/static/imgs/form-creator-help/standards/add.png">
					<div class="caption">
						<h3>Add a Standard</h3>
						<p>First start by adding a standard.</p>
					</div>
				</div>
			</li>
			<li id="delete-standard" class="span9">
				<div class="thumbnail">
					<img src="/static/imgs/form-creator-help/standards/delete.png">
					<div class="caption">
						<h3>Delete a Standard</h3>
						<p>Open the Standards info panel by hitting the info icon as in <a href="" scroll-to="edit-standard">Step 1 of Edit a Standard</a>. The delete standard button is located in the Standards info panel.</p>
						<p class="text-warning">Warning: this will delete all indicators, elements, descriptors underneath the standard.</p>
					</div>
				</div>
			</li>
			<li id="edit-standard" class="span9">
				<div class="thumbnail">
					<img src="/static/imgs/form-creator-help/standards/edit1.png">
					<div class="caption">
						<h3>Edit a Standard: Step 1</h3>
						<p>After adding a standard you'll be at the following screen.</p>
						<p>1) To edit the standard's details hit the info button to the right of the "Add Standard" button.</p>
						<p>2) Click the "Edit" button to pull up the edit standard screen.</p>
					</div>
				</div>
			</li>
			<li class="span9">
				<div class="thumbnail">
					<img src="/static/imgs/form-creator-help/standards/edit2.png">
					<div class="caption">
						<h3>Edit a Standard: Step 2</h3>
						<p>Make your changes to the standard and then hit "Save" when you're done.</p>
					</div>
				</div>
			</li>
		</ul>

		<h1 id="indicator"><span>Indicators</span></h1>
		<ul class="thumbnails">
			<li id="add-indicator" class="span9">
				<div class="thumbnail">
					<img src="/static/imgs/form-creator-help/indicators/add.png">
					<div class="caption">
						<h3>Add an Indicator</h3>
						<p>Click the large "Add Indicator" button.</p>
					</div>
				</div>
			</li>
			<li id="delete-indicator" class="span9">
				<div class="thumbnail">
					<img src="/static/imgs/form-creator-help/indicators/delete.png">
					<div class="caption">
						<h3>Delete an Indicator</h3>
						<p>Just click the "Delete" button for the indicator you would like to remove.</p>
						<p class="text-warning">Warning: this will delete all elements and descriptors underneath this indicator.</p>
					</div>
				</div>
			</li>
			<li id="edit-indicator" class="span9">
				<div class="thumbnail">
					<img src="/static/imgs/form-creator-help/indicators/edit1.png">
					<div class="caption">
						<h3>Edit an Indicator: Part 1</h3>
						<p>Click the "Edit" button found on the indicator you'd like to edit.</p>
					</div>
				</div>
			</li>
			<li class="span9">
				<div class="thumbnail">
					<img src="/static/imgs/form-creator-help/indicators/edit2.png">
					<div class="caption">
						<h3>Edit an Indicator: Part 2</h3>
						<p>Make your changes to the indicator and then hit "Save".</p>
					</div>
				</div>
			</li>
		</ul>

		<h1 id="element"><span>Elements</span></h1>
		<ul class="thumbnails">
			<li id="add-element" class="span9">
				<div class="thumbnail">
					<img src="/static/imgs/form-creator-help/elements/add.png">
					<div class="caption">
						<h3>Add an Element</h3>
						<p>1) Make sure you've opened up the accordion element for the indicator by clicking on it.</p>
						<p>2) Then click "Add Element".</p>
					</div>
				</div>
			</li>
			<li id="delete-element" class="span9">
				<div class="thumbnail">
					<img src="/static/imgs/form-creator-help/elements/delete.png">
					<div class="caption">
						<h3>Delete an Element</h3>
						<p>Just click "Delete" on the desired element.</p>
						<p class="text-warning">Warning: this will delete all the descriptors attached to this element.</p>
					</div>
				</div>
			</li>
			<li id="edit-element" class="span9">
				<div class="thumbnail">
					<img src="/static/imgs/form-creator-help/elements/edit1.png">
					<div class="caption">
						<h3>Edit an Element: Part 1</h3>
						<p>Click the "Edit" button for the element you'd like to edit.</p>
					</div>
				</div>
			</li>
			<li class="span9">
				<div class="thumbnail">
					<img src="/static/imgs/form-creator-help/elements/edit2.png">
					<div class="caption">
						<h3>Edit an Element: Part 2</h3>
						<p>Make the desired changes to the Element field then hit "Save".</p>
					</div>
				</div>
			</li>
			<li id="descriptor" class="span9">
				<div class="thumbnail">
					<img src="/static/imgs/form-creator-help/elements/descriptors1.png">
					<div class="caption">
						<h3>Adding Descriptors: Part 1</h3>
						<p class="text-info">Adding descriptors is done as apart of editing an element.</p>
						<p>Click "Add Descriptor" to begin.</p>
					</div>
				</div>
			</li>
			<li class="span9">
				<div class="thumbnail">
					<img src="/static/imgs/form-creator-help/elements/descriptors2.png">
					<div class="caption">
						<h3>Adding Descriptors: Part 2</h3>
						<p>Now that you've added a desriptor, you can see fields have been added so that you can modify it's information.</p>
						<p>Simply make the changes you'd like and then hit "Save".</p>
					</div>
				</div>
			</li>
			<li class="span9">
				<div class="thumbnail">
					<img src="/static/imgs/form-creator-help/elements/delete-descriptor.png">
					<div class="caption">
						<h3>Delete a Descriptor</h3>
						<p>If you'd like to delete a descriptor, simply click the delete button next to it's name in the descriptor fields section.</p>
					</div>
				</div>
			</li>
		</ul>

	
	</div>
</div>
	
</div>