<!-- RUBRIC MODAL -->
<div ng-controller="RubricModalCtrl">
	<div modal="shouldBeOpen" close="close()" options="opts">
		<div class="modal-header">
			<h3>Edit Form Rubric</h3>
		</div>
		<div class="modal-body">
			<p style="float:left; padding-right:10px;" class="lead">
				Apply rubric by:
			</p>

			<ul class="nav nav-pills">
                <li ng-class="{active: byForm}">
                    <a ng-click="byForm = true">Whole Form</a>
                </li>
                <li ng-class="{active: !byForm}">
                    <a ng-click="byForm = false">Standard</a>
                </li> 
            </ul>
            <div ng-show="byForm">
            	<!-- By form rubric content -->
            	<div class="buttons-centered">
            		<button ng-click="addRubric()" class="btn btn-success"><i class="icon-plus"></i> Add Rubric</button>
            	</div>
        		<hr>
        		<p class="center" ng-show="editRubrics.list.length>0">Button Preview</p>
        		<div ng-repeat="group in rubricsGroups" class="buttons-centered">
					<button ng-repeat="rubric in group" class="btn btn-small">{{ rubric.title }}</button>
				</div>
				<div ng-repeat="rubric in editRubrics.list">
					<legend>Rubric {{ rubric.order }}
						<button ng-click="deleteRubric($index)" class="btn btn-mini btn-danger">Delete</button>
					</legend>
			 		<label>Title</label>
			 		<input ng-model="rubric.title" type="text">
			 		<label>Description</label>
			 		<textarea ng-model="rubric.description" type="text"></textarea>
			 		<hr>
				</div>
            </div>
            <div ng-show="!byForm">
            	<!-- By standard rubric content -->
            	<div ng-repeat="group in form.standardGroups()" class="buttons-centered" >
					<button btn-radio="6*$parent.$index + $index" ng-model="radioStandard.val" ng-repeat="standard in group" class="btn btn-primary">
						{{ standard.short_name }}
					</button>
				</div>
				<div class="center">
            		<a><span tooltip-placement="bottom" tooltip="Select a standard to modify the rubric attached to it." class="ng-scope"><i class="icon-info-sign"></i></span></a>
            	</div>
				<br>
				<div class="buttons-centered">
					<button ng-click="addStandardRubric(radioStandard.val)" class="btn btn-success"><i class="icon-plus"></i> Add Rubric</button>
				</div>
				<hr>

				<p ng-show="form.standardRubrics()[radioStandard.val].length > 0" class="center strong">Button Preview</p>
				<div ng-repeat="group in standardRubricsGroups[radioStandard.val]" class="buttons-centered">
					<button ng-repeat="descriptor in group" class="btn btn-small">
						{{ descriptor.title }}
					</button>
				</div>
				<div ng-repeat="rubric in form.standardRubrics()[radioStandard.val]">
					<legend>Rubric {{ rubric.order }}
						<button ng-click="deleteStandardRubric($index, radioStandard.val)" class="btn btn-mini btn-danger">		Delete
						</button>
					</legend>
			 		<label>Title</label>
			 		<input ng-model="rubric.title" type="text">
			 		<label>Description</label>
			 		<textarea ng-model="rubric.description" type="text"></textarea>
			 		<hr>
				</div>
            </div>
		</div>
		<div class="modal-footer">
			<button ng-click="saveRubric()" class="btn btn-primary">Save</button>
			<button class="btn" ng-click="close()">Cancel</button>
		</div>
	</div>
</div>
<!-- END RUBRIC MODAL -->